<?xml version="1.0" ?>
<robot name="kinect" xmlns:xacro="http://ros.org/wiki/xacro">
  <include filename="$(find kuka_kr6_description)/urdf/common_constants/common_constants.xacro" />
  <xacro:property name="CAM_LEN" value="0.05" />
  <xacro:property name="CAM_RADIUS" value="0.05" />

   <joint name="camera_joint" type="fixed">
        <origin xyz="1.15 0 0.7" rpy="${PI} ${3/4*PI} 0"/>
        <parent link="base_link"/>
        <child link="camera_link"/>
   </joint>

  <!-- Camera -->
  <link name="camera_link">
    <inertial>
      <mass value="0.00001" />
      <origin xyz="0 0 0" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0"
        iyy="1.0" iyz="0.0"
        izz="1.0" />
    </inertial>

    <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder length="${CAM_LEN}" radius="${CAM_RADIUS}"/>
        </geometry>
    </collision> 

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <!--<cylinder length="${CAM_LEN}" radius="${CAM_RADIUS}"/> -->
        <mesh filename="package://kuka_kr6_description/meshes/camera/kinect.dae"/>
      </geometry>
      <material name="black"/>
    </visual>

    <sensor name="camera" type="depth">
      <update_rate>20</update_rate>
      <camera>
        <horizontal_fov>1.047198</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.05</near>
          <far>3</far>
        </clip>
      </camera>
    </sensor>
  </link>

  <xacro:include filename="$(find kuka_kr6_description)/urdf/sensors/camera.gazebo.xacro"/>
</robot>
